@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

/* header style */
.small-nav {
  background-color: #ff8e00;
  padding: 1rem 2rem 1rem 2rem;
  color: #ffff;
  font-size: 0.66rem;
}

.small-nav ul li a {
  cursor: pointer;
}

.ham-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon {
  cursor: pointer;
}

.menu-items-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.menu-items-mobile {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  padding: 1rem;
  background-color: #ff8e00;
}

.menu-items-mobile li a {
  display: flex;
  font-size: 0.68rem;
  padding: 0.77rem 0.22rem 0.77rem 0.22rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}
ul {
  display: flex;
  gap: 4rem;
}
nav .go {
  color: #ff0000;
}
/* main style */
.container-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 4rem 2rem 2.22rem 2rem;

  gap: 2rem;
}

/* footer style */
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.44rem;
}
footer span {
  font-weight: 700;
  color: #ff0000;
}

/* responsiveness */

@media screen and (max-width: 1140px) {
  .container-card {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 878px) {
  .container-card {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 740px) {
  .container-card {
    display: grid;
    grid-template-columns: auto;
  }
}
