@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Source Sans Pro", sans-serif;

  text-decoration: none;
}

/* header style */

.small-nav {
  background-color: #1d267d;
  padding: 1rem 2rem 1rem 2rem;
  color: #ffff;
  font-weight: 500;
  font-size: 0.66rem;
}

.small-nav ul li a {
  cursor: pointer;
}

.ham-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon {
  cursor: pointer;
}

.menu-items-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #ffff;
}
.menu-items-desktop .linka {
  color: #ffff;
}

.menu-items-mobile {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  padding: 1rem;
  background-color: #ff8e00;
}

.menu-items-mobile li a {
  display: flex;
  font-size: 0.68rem;
  padding: 0.77rem 0.22rem 0.77rem 0.22rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

nav ul {
  display: flex;
  gap: 4rem;
}

nav ul li .linka {
  cursor: pointer;
  color: #000000;
  font-weight: 400;
}
nav h1 {
  font-size: 1.66rem;
  font-weight: 600;
}
nav .go {
  color: #0c134f;
  font-weight: 800;
}

.ham-cont .go {
  color: #000000;
}

.MuiBadge-badge {
  background-color: #5c469c;
  color: #ffff;
}

/* main style */
.main-container {
  padding: 2rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.44rem;
  height: 100%;
  width: 100%;
}
.video-banner {
  width: 100%;
  height: 100%;
}
iframe {
  width: 100%;
}
.banner img {
  width: 600px;
  height: 400px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-card {
  width: 1200px;
  height: 100%;
}
.card-profile-info {
  height: 100%;
  width: 100%;
}
.card-profiler {
  padding: 0.44rem;

  height: 480px;
}
.card-image {
  height: 190px;
}
.trending-grp {
  padding: 1rem 0rem 1rem 0rem;
}

.trending-grp h2 {
  font-size: 1.66rem;
  font-weight: 700;
  color: #ffff;
  padding: 0.55rem;
  border: 1px solid;
  background-color: #0c134f;
}
.trending-name {
  display: flex;
  width: auto;
}

.trending-grp .grp {
  color: #ffea20;
}

.grp-name h1 {
  font-size: 1.44rem;
  color: #000000;
}

.description p {
  font-size: 0.77rem;
}

/* footer style */
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.44rem;
  font-size: 0.77rem;
  background-color: #1d267d;
  color: #ffff;
  text-align: center;
}

footer span {
  font-weight: 700;
  color: #ffea20;
}

/*Profile css*/
.cover-photo {
  background-color: gray;
  background-image: url("https://i.pinimg.com/originals/5a/44/84/5a4484720cd9933dd36d9970bb527b60.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding-top: 200px;
  padding-bottom: 20px;
  color: white;
  margin: 0%;
}

.lesserafim-cover-photo {
  background-color: gray;
  background-image: url("https://i.pinimg.com/originals/a3/53/3d/a3533d68a407e80e76e07ad32a8caa5c.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding-top: 200px;
  padding-bottom: 20px;
  color: white;
  margin: 0%;
}

.gidle-cover-photo {
  background-color: gray;
  background-image: url("https://i.pinimg.com/originals/39/07/a2/3907a2aeae625a3c17f64c08e55165fa.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding-top: 200px;
  padding-bottom: 20px;
  color: white;
  margin: 0%;
}

.itzy-cover-photo {
  background-color: gray;
  background-image: url("https://i.pinimg.com/originals/50/11/8a/50118aaf1a302c128104215f6472fe74.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding-top: 200px;
  padding-bottom: 20px;
  color: white;
  margin: 0%;
}

.profile-info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.profile-img {
  height: 250px;
  width: 250px;
}

.paragraph {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.paragraph > h1 {
  margin-left: 20px;
  padding-top: 125px;
  font-size: 40px;
}

.paragraph > p {
  text-indent: 2%;
  margin-left: 20px;
  font-size: 20px;
}

.biography {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.personal-info {
  padding-top: 30px;
}

.featured-photo {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media {
  padding-top: 30px;
}

.underline {
  border-top: 1px solid black;
  width: 500px;
}

.featured-photo > p {
  padding-top: 30px;
  font-size: 35px;
}

.gallery {
  padding-top: 20px;
}

.trivia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
  margin: 50px;
}

.trivia > p {
  padding-top: 30px;
  font-size: 35px;
}
.trivia-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}
.card-trivia {
  width: 1200px;
  height: 100%;
}
.check {
  display: flex;
}
.check > p {
  padding-top: 30px;
  font-size: 25px;
  margin-left: 30px;
}

.members-list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 5px;
  height: 200px;
  width: 200px;
}

.members > img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.footer-cover {
  padding-top: 50px;
}

.cover-qoutes {
  background-color: gray;
  background-image: url("https://pbs.twimg.com/media/FDqcKGGXIAAPSMu?format=jpg&name=large");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: flex;
  padding: 30px;
  margin: 50px;
}

.cover-qoutes > p {
  font-size: 20px;
  font-style: italic;
}

/*group-profile*/

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
}

.group-banner {
  grid-column: span 2;
}

.group-photo {
  width: 100%;
  height: 450px;
}

.group-name {
  grid-column: span 2;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px;
  font-size: 40px;
}

.members-container {
  grid-column: span 2;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.card-information {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merchandise {
  justify-content: center;
  align-items: center;
}

.about-group {
  grid-column: span 2;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.about-group > h1 {
  margin-left: 5px;
  font-size: 40px;
}

.about-group > p {
  text-indent: 2%;
  font-size: 16px;
}

.fun-fact {
  grid-column: span 2;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px;
  font-size: 20px;
}

.trivia-container-group {
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}
/* top videos */
.topvid-box {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-vid {
  padding: 1rem;
}
/* responsiveness */
@media screen and (max-width: 1204px) {
}
@media screen and (max-width: 1220px) {
  nav {
    display: none;
  }

  .banner {
    width: 100%;
  }

  .video-banner,
  .image-banner {
    width: 100%;
  }

  iframe {
    width: 100%;
  }

  .banner img {
    width: 100%;
  }
  .slider-card {
    width: 100%;
  }

  .card-trivia {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .container-card {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .slider-card {
    width: 100%;
  }
  .video-banner,
  .image-banner {
    width: 100%;
  }
  /* top videos */
  .topvid-box {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  /* profile-info*/

  .cover-qoutes {
    height: 200px;
  }

  .biography {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    align-items: center;
  }
  .personal-info,
  .social-media {
    display: flex;
    justify-content: center;
  }

  .social-media-card {
    text-align: center;
    width: 480px;
  }

  .check {
    display: grid;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 990) {
  .card-profile-info {
    width: 100%;
  }

  .cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .lesserafim-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .gidle-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .itzy-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .cover-qoutes {
    height: 200px;
  }

  .trivia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
  }

  .card-trivia {
    width: 100%;
  }

  .check {
    display: grid;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 878px) {
  .container-card {
    display: grid;
    grid-template-columns: auto auto;
  }

  .banner {
    flex-direction: column;
  }

  .cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .lesserafim-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .gidle-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .itzy-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .cover-qoutes {
    height: 200px;
  }

  .trivia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
  }

  .card-trivia {
    width: 100%;
  }

  .check {
    display: grid;
    grid-template-rows: auto auto;
  }

  .members-list {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 740px) {
  .card-profile-info {
    width: 100%;
  }

  .slider-container {
    width: 100%;
  }

  .slider-card {
    width: 100%;
  }

  .container-card {
    display: grid;
    grid-template-columns: auto;
  }

  .cover-photo {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .lesserafim-cover-photo {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .gidle-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .itzy-cover-photo {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  /* top videos */
  .topvid-box {
    display: grid;
    grid-template-columns: auto auto;
  }

  .cover-qoutes {
    height: 250px;
  }

  .trivia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
  }

  .card-trivia {
    width: 100%;
  }

  .check {
    display: grid;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 540px) {
  /* top videos */
  .topvid-box {
    display: grid;
    grid-template-columns: auto;
  }
  .cover-qoutes {
    height: 250px;
  }

  .profile-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .trivia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
  }
  .card-trivia {
    width: 100%;
  }

  .check {
    display: grid;
    grid-template-rows: auto auto;
  }

  .profile-info {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }

  .profile-pic {
    padding-left: 130px;
  }

  .paragraph > h1 {
    padding-top: 20px;
    text-align: center;
  }

  .paragraph > p {
    text-indent: none;
  }
}
